@{ ViewData["Title"] = "Books Page"; }

<div class="container">
    <div class="card card-light">
        <div class="card-header">
            <h3 class="card-title font-weight-bold">Aircraft Information</h3>
            <div class="card-tools">
                <a class="btn-sm btn-info text-white" asp-area="Main" asp-controller="Aircraft" asp-action="Create">
                    Create New Aircraft
                </a>
            </div>
        </div>
        <div class="card-body">
            <table id="tblData" class="table table-bordered table-hover" style="width:100%;">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Model</th>
                        <th>Price</th>
                        <th class="text-center">Action</th>
                        
                    </tr>
                    
                </thead>
            </table>
           
        </div>
    </div>
</div>

<div id="action" style="display: none;">
    <div class="text-center d-flex justify-content-center">
        <a class="btn-sm btn-success text-white mx-2" style="cursor:pointer">
            Edit
        </a>
        <a class="btn-sm btn-primary text-white" style="cursor:pointer;">
            View
        </a>

    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/bundles/dataTables.min.css">
    <link rel="stylesheet" href="~/css/bundles/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/bundles/toastr.min.css">
}

@section Scripts{
    <script src="~/js/bundles/dataTables.min.js"></script>
    <script src="~/js/bundles/sweetalert2.min.js"></script>
    <script src="~/js/bundles/toastr.min.js"></script>
    <script>
    "use strict";
        let userTable;

        $(function () {
            userTable = app.module.controls.load();
        });

        let app = {
            module: {
                controls: {
                    load: function () {
                        return $("#tblData").DataTable({
                            ajax: {
                                url: "/Main/Aircraft/GetAll",
                            },
                            scrollX: true,
                            columns: [
                                { data: "code", autoWidth: true },
                                { data: "name", autoWidth: true },
                                { data: "category", autoWidth: true },
                                { data: "model", autoWidth: true },
                                { data: "price", autoWidth: true },                              
                                {
                                    data: "aircratfId",
                                    render: function (data, type, row) {
                                        $("#action .btn-success").attr(
                                            "href",
                                            `/Main/Aircraft/EditAircraft/${data}`
                                        );
                                        let editButton = `<a href="/Main/Aircraft/EditAircraft/${data}" class="btn btn-success text-white" style="cursor:pointer">
                                        <i class="fas fa-edit"></i> 
                                        </a>  <span></span>`;
                                        let viewButton = `<a href="/Main/Aircraft/ViewAircraft/${data}" class="btn btn-primary text-white" style="cursor:pointer">
                                        <i class="fas fa-eye"></i> 
                                        </a> <span></span>`;

                                        
                                        let deleteButton = `<a onclick="Delete('/Main/Aircraft/Delete/${data}')" class="btn btn-danger text-white" style="cursor:pointer">
                                        <i class="fas fa-trash-alt"></i> 
                                        </a> <span></span>`;

                                        let speButton = `<a href="/Main/Specifcation/Index/${data}" class="btn btn-secondary text-white" style="cursor:pointer">
                                        <i class="fa fa-info"></i>
                                        </a> <span></span>`;

                                        let custButton = `<a href="/Main/Customozation/Index/${data}" class="btn btn-info text-white" style="cursor:pointer">
                                        <i class="fa fa-filter"></i>
                                        </a> <span></span>`;

                                        let imgButton = `<a href="/Main/AircrafImages/Index/${data}" class="btn btn-warning text-white" style="cursor:pointer">
                                        <i class="fa fa-file-image"></i>
                                        </a> <span></span>`;


                                        // Concatenate the buttons
                                        let buttons = editButton + viewButton + deleteButton + speButton + custButton + imgButton;

                                        return buttons;
                                    },
                                    autoWidth: true,
                                },
                            ],
                        });
                    },
                },
            },
        };

        function Delete(url) {
            Swal.fire({
                title: "Are you sure you want to Delete?",
                text: "You will not be able to restore the data!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!",
            }).then((willDelete) => {
                if (willDelete.isConfirmed) {
                    $.ajax({
                        type: "DELETE",
                        url: url,
                        success: function (data) {
                            if (data.success) {
                                toastr.success(data.message);
                                userTable.ajax.reload();
                            } else {
                                toastr.error(data.message);
                            }
                        },
                    });
                }
            });
        }
    </script>
   


}
